<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Control Panel</title>

<body>
    <div class="panel">
        {% for btn in btns %}
        <div class="btn-panel">
            <span>{{btn['title']}}</span>
            <div class="btn-container">
                {% for i in range(btn['action']|length) %}
                <button class="control-btn" id="{{btn['btn-id'][i]}}">{{btn['btn-title'][i]}}</button>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

        {% for btn in btns %}
        {% for i in range(btn['action']|length) %}
        <script>
            document.getElementById("{{btn['btn-id'][i]}}").addEventListener("click", function () {
                fetch('http://192.168.1.4:5566{{btn["action"][i]}}', {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => console.log(data))
                    .catch(error => console.error('Error:', error));
            });
            </script>
            {% endfor %}
        {% endfor %}
</body>

</html>