<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Press+Start+2P&display=swap"
        rel="stylesheet">
        <title>Control Panel</title>
        
        <body>

            {% include 'panel-btns-template.html' %}

    {% for btn in btns %}
    {% for i in btn['btns'] %}
    <script>
        document.getElementById("{{i['btn-id']}}").addEventListener("click", function () {
            fetch('http://192.168.1.4:5566{{i["action"]}}', {
                method: 'GET'
            })
                .then(response => response.json())
                .then(data => {
                    fetch('http://192.168.1.4:5566/api/player/title')
                        .then(response => response.text())
                        .then(data => {
                            data = data.replace(/"/g, '').replace(/\\n/g, '');
                            title = "Player control \n " + data
                            document.getElementById("panel-title").textContent = title
                        })
                        .catch(error => console.error('Error:', error));
                })
                .catch(error => console.error('Error:', error));
            
            
        });
    </script>
    {% endfor %}
    {% endfor %}
</body>

</html>